/* About page styles */
.about {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about img {
  width: 250px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
}
