/* Iconos de redes sociales */
.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.social-icon svg {
  fill: white;
  transition: fill 0.3s ease, transform 0.3s ease;
  width: 32px;
  height: 32px;
}

.social-icon:hover svg {
  fill: #00ffff;
  transform: scale(1.1);
}
